/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
  width: 100%;
  color:  #1A1A1A;
  font-size: 2rem;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.menu-navbar{
  width: 40%;
  display: flex;
  justify-content: end;
}

li{
  width: 25%;
  list-style: none;
  justify-content: end;
  margin: 0 auto;
}

.img-logo{
  width: 300px;
}

.main-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.music-for-everyone{
  width: 100%;
  background-image: url(../images/landing.jpg);
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  height: 1200px;
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
}

.title-text{
  font-size: 8rem;
}

.subtitle-landing{
  font-size: 2.5rem;
}