/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
  width: 100%;
  color:  #1A1A1A;
  font-size: 2rem;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.menu-navbar{
  width: 40%;
  display: flex;
  justify-content: end;
}

li{
  width: 25%;
  list-style: none;
  justify-content: end;
  margin: 0 auto;
}

.img-logo{
  width: 300px;
}

.main-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.music-for-everyone{
  width: 100%;
  background-image: url(../images/landing.jpg);
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  height: 1200px;
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
}

.title-text{
  font-size: 8rem;
}

.subtitle-landing{
  font-size: 2.5rem;
}

.whats-spotify{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whats-spotify-article-1{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 5rem;
}

.whats-spotify-article-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}

.spotify-column{
  display: flex;
  margin: 4rem 2rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
}

.spotify-column h2{
  color: #00B172;
}

.spotify-column p{
  color: #1A1A1A;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.whats-spotify-article-2 img{
  width: 200px;
}

.hr-green{
  border: 3px solid #00B172;;
}